/* Add application styles & imports to this file! */
/* // regular style toast */
@import 'ngx-toastr/toastr';

/* a {
  font-size: 14px;
  font-weight: bolder;
} */

a:hover:active {
  background-color: rgb(212, 218, 204);
}
/* .projectHeading {
  background-color: #6000f0;
} */
.active-class {
  font-weight: bolder;
}
